PORT=Puerto para escucha
DB_HOST=Host de la base de datos
DB_USER=Usuario de la base de datos
DB_PASSWORD=Contraseña del usuario de la base de datos
DB_NAME=Nombre la base de datos
TOKEN_SECRET_KEY=Clave secreta que usaremos para generar el token
PASS_SECRET_NUMBER=numero que se va a usar para la operacion de hash de las contraseñas